body{
    background-color: #eeeeee;
    font-family: 'Arimo', sans-serif;
}

.base-color{
    background-color: #2f4050;
}

.btn{
    background-color: #2f4050;
}

.btn:hover{
    background-color: #394d60;
}

.content{
    padding-top: 20px;
}

.divider{
    background-color: #cccccc;
}