<template name="navBar">
    <nav class="base-color z-depth-2">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Model Print</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{pathFor route='catalog'}}">Catalog</a></li>
                <li><a href="{{pathFor route='orders'}}">Orders</a></li>
                {{#unless isDesinger}} 
                    <li><a href="{{pathFor route='cart'}}"><i class="fa fa-shopping-cart"></i></a></li>
                {{/unless}}    
                <li><a href=""><i class="fa fa-sign-out icon-sm sign-out"></i></a></li>
            </ul>
        </div>
    </nav>
</template>