<template name="categoryItem">
    <li class="collection-item row">
        <div class="col s10">
            {{#unless editMode}}
                {{name}}
            {{else}}
                <div class="input-field col s8">
                    <input type="text" id="edit-category-input"/>
                    <label for="edit-category-input">Edit category</label>
                </div>
                <div class="col s3 right">
                    <button class="btn col s12 edit-category-btn">Edit category</button>
                </div>
            {{/unless}}
        </div>
        <div class="col s1">
            <a href="" class="rename-category right">
                <i class="fa fa-pencil-square-o"></i>
            </a>
        </div>
        <div class="col s1">
            <a href="" class="delete-category">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </li>
</template>