<template name="orderCard">
    <div class="col s12">
        <div class="card">
            <div class="card-content row order-card-row valign-wrapper">
               <div class="col s10">
                   {{#each getModels}}
                       <img src="{{image}}b.png" class="col s2 tooltipped" data-delay="15" data-tooltip="{{getQuantity _id}}" data-position="bottom"/>
                   {{/each}}
               </div>
               <div class="col s2">
                   <h4 class="valign">{{totalPrice}}$</h4>
               </div>
            </div>
            <div class="card-action row valign-wrapper">
                {{#if isDesinger}}
                    <h5 class="col s1 valign">Status:</h5>
                    <div class="col s4 row">
                        <div class="col s1"><p></p></div>
                        <div class="input-field col s11 order-card-row">
                            <select class="status-select">
                                <option >packing</option>
                                <option >delivering</option>
                                <option >delivered</option>
                                <option >closed</option>
                            </select>
                        </div>
                    </div>
                {{else}}
                    <h5>Status: {{status}}</h5>
                {{/if}}
            </div>
        </div>
    </div>
</template>